.dropdown {
  margin-bottom: 6rem;
  align-items: center;
  align-content: center;
}

.wrapper-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.dropdown-btn {
  font-family: var(--fraunces);
  color: var(--grey);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 28px;
  cursor: pointer;
  width: 85%;
  text-align: left;
  opacity: 1;
  transition: all .3s ease;
}

.closed {
  opacity: .5;
}

.chevron {
  color: var(--darkCyan);
  font-size: 1.5rem;
  width: 100%;
}

.dropdown-btn__icon {
  transition: all .3s ease;
}

.dropdown-btn__icon.rotate {
  transform: rotate(180deg);
}

.container.hidden {
  height: 0;
  opacity: 0;
  transition: all ease;
  transform: translateY(-15%);
  pointer-events: none;
}

.container {
  transition: all .3s ease-in;
  opacity: 1;
  height: auto;
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    gap: 28px;
    justify-content: space-evenly;
  }
}


