.dropdown {
  margin-bottom: 6rem;
  align-items: center;
  align-content: center;
}

.wrapper-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.dropdown-btn {
  font-family: var(--fraunces);
  color: var(--grey);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 28px;
  cursor: pointer;
  width: 85%;
  text-align: left;
}

.chevron {
  color: var(--darkCyan);
  font-size: 1.5rem;
  width: 100%;
}

.dropdown-btn__icon.rotate {
  transform: rotate(180deg);
}


