@import "variables";
@import "mixins";

// HERO SECTION

.hero {
  display: flex;
  margin-top: 2.5rem;
  height: 31.25rem;
  color: $lightCream;
  text-align: center;
  background-image: url("./../assets/home/mobile/image-hero-coffeepress.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.625rem;

  @include for-tablet-portrait-up {
    background-image: url("./../assets/home/tablet/image-hero-coffeepress.jpg");
  }

  @include for-desktop-up {
    height: 37.5rem;
    background-image: url("./../assets/home/desktop/image-hero-coffeepress.jpg");
  }

  &-wrapper {
    margin: 6.25rem auto;
    width: 90%;

    @include for-tablet-portrait-up {
      width: 65%;
      margin-left: 10%;
      text-align: left;
    }

    @include for-desktop-up {
      margin-top: 7.813rem;
      margin-left: 5%;
    }

    .hero__title {
      font-size: $font-xl;
      font-family: $fraunces;
      line-height: 2.5rem;
      margin: auto;

      @include for-tablet-portrait-up {
        font-size: $font-xl2;
        line-height: 3rem;
        margin: 0;
      }

      @include for-desktop-up {
        width: 75%;
        font-size: $font-xl4;
        line-height: 4.5rem;
      }
    }

    .hero__text p {
      font-size: $font-base;
      line-height: 1.563rem;
      margin: 1.5rem auto;
      opacity: 0.8;

      @include for-desktop-up {
        width: 60%;
        font-size: 100%;
        line-height: 1.625rem;
        margin: 1.5rem 0;
      }
    }

    .hero__btn {
      margin: auto;

      & > .btn {
        margin-top: 0.938rem;
      }
    }

  }

} // END HERO SECTION

// PRODUCTS SECTION

.products {
  display: flex;
  flex-direction: column;
  margin: 7.5rem auto;
  text-align: center;
  position: relative;

  @include for-desktop-up {
    flex-direction: row;
  }

  &__title {
    font-family: $fraunces;
    font-size: 1.5rem;

    @include for-tablet-portrait-up {
      width: 100%;
      position: absolute;
      font-size: 8vw;
    }

    & > h2 {
      text-transform: lowercase;
      opacity: 0.5;
      background: -webkit-linear-gradient(90deg, $lightCream, $darkGreyBlue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include for-tablet-portrait-up {
        margin: -2% auto;
      }
    }
  }

  .product-item {
    margin: 2.188rem auto 3.688rem;
    position: relative;

    @include for-tablet-portrait-up {
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0 2.813rem;
      grid-template-areas:
        "img title title"
        "img description description";
      text-align: left;
    }

    @include for-tablet-landscape-up {
      margin-top: 9%;
    }

    @include for-desktop-up {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 7%;
    }

    &__img {

      @include for-tablet-portrait-up {
        grid-area: img;
        margin: auto;
      }

      & > img {
        display: flex;
        margin: auto;
        height: 9.438rem;
        width: 12.5rem;

        @include for-tablet-portrait-up {
          height: 11.063rem;
          width: 14.625rem;
          padding-left: 1.875rem;
          padding-top: 0.688rem;
        }
      }
    }

    &__title {
      font-family: $fraunces;
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 1rem;

      @include for-tablet-portrait-up {
        grid-area: title;
        margin: auto 0;
      }
    }

    &__description {
      font-size: 0.938rem;
      line-height: 1.563rem;

      @include for-tablet-portrait-up {
        grid-area: description;
      }

      @include for-desktop-up {
        width: 80%;
        margin: auto;
        font-size: 100%;
        line-height: 1.625rem;
      }
    }
  }
} // END PRODUCTS SECTION

// FEATURES SECTION

.features {
  color: $lightCream;
  height: auto;


  &__header {
    background: url("./../assets/about/mobile/bg-quality.png");
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;

    .features__bg {
      background-color: #2C343E;
      height: 632px;
      border-radius: 10px;
    }

    .features__title {
      font-family: $fraunces;
      margin-top: 4rem;

      &  h2 {
        font-size: 1.75rem;
        line-height: 1.75rem;
      }
    }

    .features__description {
      width: 85%;
      margin: auto auto 2rem;
      font-size: $font-base;
      line-height: 25px;
      opacity: 0.8;
    }

  } // end .features__header

  .feature-item {
    width: 279px;
    margin: auto auto 1.8rem;
    background-color: $darkCyan;
    text-align: center;
    border-radius: 8px;
    position: relative;
    top: -600px;

    &__img {

      & > img {
        margin-top: 4.25rem;
      }
    }

    &__wrapper-text {

      .feature-item__title {
        font-family: $fraunces;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 52px 0 30px;
      }

      .feature-item__msg {
        width: 75%;
        margin: auto;
        font-size: $font-base;
        line-height: 1.563rem;
        padding-bottom: 48px;
      }

    }

  } // end .feature-item

} // END FEATURES SECTION
