$fraunces: 'Fraunces', serif;
$barlow: 'Barlow', sans-serif;

$font-xs: 0.75rem; // 12px
// sm base lg xl xl2 xl3 ..

$b: 2px solid red;

// Colors
$darkGreyBlue: hsl(215, 19%, 25%);
$grey: hsl(215, 5%, 54%);
