@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  background-color: #fefcf6;
}

.container {
  margin: auto;
}
@media (max-width: 37.4375em) {
  .container {
    width: 87.2%;
  }
}
@media (min-width: 37.5em) {
  .container {
    width: 89.7135%;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #848990;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #343e4c;
}

.btn {
  border: none;
  outline: none;
  color: #fefcf6;
  font-family: "Fraunces", serif;
  font-size: 1.125rem;
  background-color: #0e8684;
  border-radius: 6px;
  padding: 15px 31px 16px;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  cursor: pointer;
  background-color: #65d2d0;
}

@media (max-width: 37.4375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 37.5em) {
  .hide-for-tablet {
    display: none;
  }
}

.navbar {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.navbar .brand {
  margin: auto 0;
}
.navbar .links {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.923077px;
  line-height: 15px;
}
.navbar .links .nav {
  list-style: none;
  padding: 0;
  display: flex;
  text-align: end;
}
.navbar .links .nav__link {
  margin-left: 32px;
}
.navbar .hamburger {
  width: 16px;
  height: 15px;
  margin: auto 0;
  background-image: url("./../assets/shared/mobile/icon-hamburger.svg");
}

.hero {
  display: flex;
  margin-top: 2.5rem;
  height: 31.25rem;
  color: #fefcf6;
  text-align: center;
  background-image: url("./../assets/home/mobile/image-hero-coffeepress.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.625rem;
}
@media (min-width: 37.5em) {
  .hero {
    background-image: url("./../assets/home/tablet/image-hero-coffeepress.jpg");
  }
}
@media (min-width: 75em) {
  .hero {
    height: 37.5rem;
    background-image: url("./../assets/home/desktop/image-hero-coffeepress.jpg");
  }
}
.hero-wrapper {
  margin: 6.25rem auto;
  width: 90%;
}
@media (min-width: 37.5em) {
  .hero-wrapper {
    width: 65%;
    margin-left: 10%;
    text-align: left;
  }
}
@media (min-width: 75em) {
  .hero-wrapper {
    margin-top: 7.813rem;
    margin-left: 5%;
  }
}
.hero-wrapper .hero__title {
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  line-height: 2.5rem;
  margin: auto;
}
@media (min-width: 37.5em) {
  .hero-wrapper .hero__title {
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
  }
}
@media (min-width: 75em) {
  .hero-wrapper .hero__title {
    width: 75%;
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}
.hero-wrapper .hero__text p {
  font-size: 0.938rem;
  line-height: 1.563rem;
  margin: 1.5rem auto;
  opacity: 0.8;
}
@media (min-width: 75em) {
  .hero-wrapper .hero__text p {
    width: 60%;
    font-size: 100%;
    line-height: 1.625rem;
    margin: 1.5rem 0;
  }
}
.hero-wrapper .hero__btn {
  margin: auto;
}
.hero-wrapper .hero__btn > .btn {
  margin-top: 0.938rem;
}

.products {
  display: flex;
  flex-direction: column;
  margin: 7.5rem auto;
  text-align: center;
  position: relative;
}
@media (min-width: 75em) {
  .products {
    flex-direction: row;
  }
}
.products__title {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
}
@media (min-width: 37.5em) {
  .products__title {
    width: 100%;
    position: absolute;
    font-size: 8vw;
  }
}
.products__title > h2 {
  text-transform: lowercase;
  opacity: 0.5;
  background: -webkit-linear-gradient(90deg, #fefcf6, #343e4c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 37.5em) {
  .products__title > h2 {
    margin: -2% auto;
  }
}
.products .product-item {
  margin: 2.188rem auto 3.688rem;
  position: relative;
}
@media (min-width: 37.5em) {
  .products .product-item {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 2.813rem;
    grid-template-areas: "img title title" "img description description";
    text-align: left;
  }
}
@media (min-width: 56.25em) {
  .products .product-item {
    margin-top: 9%;
  }
}
@media (min-width: 75em) {
  .products .product-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 7%;
  }
}
@media (min-width: 37.5em) {
  .products .product-item__img {
    grid-area: img;
    margin: auto;
  }
}
.products .product-item__img > img {
  display: flex;
  margin: auto;
  height: 9.438rem;
  width: 12.5rem;
}
@media (min-width: 37.5em) {
  .products .product-item__img > img {
    height: 11.063rem;
    width: 14.625rem;
    padding-left: 1.875rem;
    padding-top: 0.688rem;
  }
}
.products .product-item__title {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem;
}
@media (min-width: 37.5em) {
  .products .product-item__title {
    grid-area: title;
    margin: auto 0;
  }
}
.products .product-item__description {
  font-size: 0.938rem;
  line-height: 1.563rem;
}
@media (min-width: 37.5em) {
  .products .product-item__description {
    grid-area: description;
  }
}
@media (min-width: 75em) {
  .products .product-item__description {
    width: 80%;
    margin: auto;
    font-size: 100%;
    line-height: 1.625rem;
  }
}

.features {
  color: #fefcf6;
  height: auto;
}
.features__header {
  background: url("./../assets/about/mobile/bg-quality.png");
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.features__header .features__bg {
  background-color: #2C343E;
  height: 632px;
  border-radius: 10px;
}
.features__header .features__title {
  font-family: "Fraunces", serif;
  margin-top: 4rem;
}
.features__header .features__title h2 {
  font-size: 1.75rem;
  line-height: 1.75rem;
}
.features__header .features__description {
  width: 85%;
  margin: auto auto 2rem;
  font-size: 0.938rem;
  line-height: 25px;
  opacity: 0.8;
}
.features .feature-item {
  width: 279px;
  margin: auto auto 1.8rem;
  background-color: #0e8684;
  text-align: center;
  border-radius: 8px;
  position: relative;
  top: -600px;
}
.features .feature-item__img > img {
  margin-top: 4.25rem;
}
.features .feature-item__wrapper-text .feature-item__title {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 52px 0 30px;
}
.features .feature-item__wrapper-text .feature-item__msg {
  width: 75%;
  margin: auto;
  font-size: 0.938rem;
  line-height: 1.563rem;
  padding-bottom: 48px;
}

/*# sourceMappingURL=style.css.map */
