.btn {
  color: var(--lightCream);
  font-family: var(--fraunces);
  font-size: 18px;
  font-weight: 900;
  background-color: var(--darkCyan);
  width: 217px;
  height: 56px;
  border-radius: 6px;
  margin: 40px auto 49px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background: var(--cyan);
}

@media screen and (min-width: 768px) {
  .btn {
    margin: 40px 0 0;
  }
}


@media screen and (min-width: 1440px) {
  .btn {
    margin-top: 4rem;
    margin-bottom: 26px;
  }
}