:root {
  --darkCyan: #0E8784;
  --cyan: #66D2CF;
  --veryDarkBlue: #2C343E;
  --darkGreyBlue: #333D4B;
  --paleOrange: #FDD6BA;
  --lightCream: #FEFCF7;
  --grey: #83888F;
  --lightGrey: #F4F1EB;
  --boxShadow: #C8C7C2;

  --fraunces: 'Fraunces';
  --barlow: 'Barlow';

  width: 100%;

  --facebookIcon: url(./assets/shared/desktop/icon-facebook.svg);
  --twitterIcon: url(./assets/shared/desktop/icon-twitter.svg);
  --instagramIcon: url(./assets/shared/desktop/icon-instagram.svg);
}

body {
  max-width: 1440px;
  margin: auto;
}
