.btn {
  display: flex;
  margin: auto;
  padding: 1rem;
  border: 1px solid black;
  cursor: pointer;
}

input {
  display: none;
  /*outline: 1px solid red;*/
}

input:checked {
  outline: 1px solid blue;
}


.question-title {
  font-family: var(--fraunces);
  color: var(--grey);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 28px;
  width: 70%;
  margin: 0;
}


.title {
  /*outline: 1px solid red;*/
  font-size: 1.5rem;
  font-weight: bold;
}

.answers-wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--lightGrey);
  border-radius: 8px;
  margin-bottom: 1rem;
  color: var(--veryDarkBlue);
  /*padding: 1.5rem;*/
  /* le padding empeche de selectionné selon ou on clic*/
}

.answers-wrapper:hover > * {
  background-color: var(--paleOrange);
  cursor: pointer;
}

.answer-title {
  font-family: var(--fraunces);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;

  margin: 1.5rem 1.5rem 0;
}

.answer-text {
  font-family: var(--barlow);
  font-size: 1rem;
  line-height: 26px;
  margin: 0 0 1.5rem 1.5rem;
  padding: 1rem 0;
}